

.container-wrapper-table {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px;
    margin: 0;
    background-color: rgb(135, 249, 135);
  }
  
  
.table-responsive {
    overflow-x: auto;
  }
  
  .table {
    font-size: 16px;
   
  }
  
  th, td {
    text-align: left;
    vertical-align: middle !important;
  }
  
  th {
    font-weight: bold;
  }
  
  .imagen-miniatura {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
  }
  
  .miniatura {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ACB1D6;
  }
  
  .table-striped tbody tr:nth-of-type(even) {
    background-color: #DBDFEA;
  }
  
  input[type="checkbox"] {
    margin-left: 15px;
    width: 20px;
    height: 20px;
  }
  input[type="checkbox"] {
    transform: scale(1.5);
  }
  
  thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #38A3A5;
  }
 
  tbody {
    margin-top: 40px; /* ajusta según el tamaño del encabezado */
  }
 
  .table-wrapper {
    max-height: calc(100vh - 200px); /* ajusta según tus necesidades */
    overflow-y: auto; /* agregar scrollbar vertical cuando se excede la altura máxima */
  }
  
  .table-wrapper table {
    min-width: 100%; /* ajusta el ancho de la tabla para que se ajuste a su contenedor */
  }

  .d-flex > * + * {
    margin-left: 10px;
  }
